<p class="bet">

  {{#link-to 'dashboard.bets.show' bet}}<h4>Bet by {{bet.creator.nickname}}</h4>{{/link-to}}
  <p>{{bet.description}}</p>
  <p>
    by: {{bet.creator.nickname}}
  </p>
  <p>
    amount: {{bet.amount}}
  </p>
  <p>
    takers: {{bet-takers users=bet.takers}}
  </p>

  <div class="bet-actions">
    {{#if userOwnsBet}}
      <button class="btn btn-danger" {{action 'deleteBet' bet}}>Delete</button>
    {{else}}
    {{#unless userIsTakingBet}}
      <button class="btn btn-danger" {{action 'placeBet' bet}}>Bet {{bet.amount}} against</button>
      {{/unless}}
    {{/if}}
  </div>
</p>
