<div class="dashboard-container">
  <header>
    {{profile-container}}
    <h2>Dashboard</h2>
  </header>
  <div class="left-container">
    {{chat-container messages=model.messages newMessage=(action 'newMessage') }}
  </div>
  <div class="dashboard">
    {{bet-container}}
    {{#each model.bets as |bet|}}
    <p class="bet">
      <h4>{{bet.title}}</h4>
      <p>{{bet.description}}</p>
      <p>
        by: {{bet.creator.nickname}}
      </p>
      <p>
        amount: {{bet.amount}}
      </p>
      <button class="btn btn-danger" {{action 'deleteBet' bet}}>Delete</button>
    </p>
    {{else}}
      <div class="no-bets">
        <h2>You have no bets. Feelin' lucky, punk?</h2>
        {{link-to "Create new bet" 'dashboard.bets.new' class="btn btn-primary new-bet"}}
      </div>
    {{/each}}
  </div>
</div>
{{outlet}}
